body{
  background-color: #E9E9E5;
  margin: 0;
  font-family: Roboto;
}

#app-container {
  width: 100%;
  overflow: hidden;
}

#app-header{
	background: #34415D;
	width: 100%;
	padding: 4% 0 0.5% 0;

}

#app-header h1{
    color: #fff;
    text-align: center;
    font-size: 32px;
    vertical-align: middle;
    margin: 0;
}

#app-header h1.danger {
  color: red;
}

#app-body {
  padding-top:8vh;
  width: 80%;
  margin: 0 auto;
  min-height: 75vh;
}

#app-footer {
  width: 100%;
  min-height: 10vh;
}

#app-footer p {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #7f8c8d;
}

.tv-show {
  width: 100%;
  overflow: hidden;
  padding: 16px;
  background-color: white;
  margin-bottom: 16px;
}

.tv-show:hover {
  background-color: #ecf0f1;
}

.tv-show .img-container {
  width: 20%;
}

.tv-show img {
  max-width: 100%;
}

.tv-show .info {
  width: 75%;
}

.left {
  float: left;
}

.right {
  float: right;
}

#app-header .search-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

#app-header .search-form input[type="text"] {
  padding: 8px 10px;
  border-color: #7CD3C8;
  border-radius: 6px;
  width: 50%;
	background: #34415D;
	color: #7CD3C8;
	font-size: 16px;
}

#app-header .search-form span.input-group-btn{
	font-size: 13px;
	float: left;
}

#app-header .superior{
	float: left;
	padding-left: 13%;
}

#app-nav nav ul{
  margin-bottom: 1%;
  background: #1F2738;
  height: 32px;
  margin: 0px;
}

#app-nav nav ul li{
  text-decoration: none;
  float: left;
  padding: 0 6%;
  height: 100%;
}

#app-nav nav ul li a{
  display: block;
  text-decoration: none;
  color: #7CD3C8
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}